.UpperLine {
    position: absolute;
    width: 100%;
    user-select: none;
    background: white;
    height: 130px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.logo_text {
    position: absolute;
    font-size: 45px;
    left: 3%;
    padding: 10px 45px;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.login_btn {
    position: absolute;
    right: 3%;
    width: 150px;
    height: 55px;
    border-radius: 15px;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 38px;
    cursor: pointer;
    transition: 0.2s;
}

.login_btn:active {
    transform: scale(0.95);
}